<nav class="relative flex flex-wrap items-center justify-between px-2 py-3 bg-orange-500 mb-3">
    <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
      <div class="w-full relative flex justify-between lg:w-auto  px-4 lg:static lg:block lg:justify-start">
        <a class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white" href="/">
          (C) <%= siteName %> 2021 | All rights reserved. <br><small><%= siteColour %> theme created by Vendor Team</small>
        </a>
    </div>
  </nav>
