<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><%= title %></title>
    <meta name="description" content="<%= description %>">
    <meta name="author" content="<%= author %>">
    <meta name="keywords" content="<%= keywords %>">
    <meta name="robots" content="<index, follow>">
    <meta name="language" content="English">
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/gh/creativetimofficial/tailwind-starter-kit/compiled-tailwind.min.css"/>
</head>
