<h1>SignUp Page</h1>
<form action="/auth" method="POST">
    <input type="email" name="email"placeholder="hello@vendorapp.page">
    <input type="text" name="name"placeholder="John">
    <input type="password" name="password"placeholder="password">
    <button>login</button>
</form>